# Structured Query Language
- is a `programming language` used for **managing** and **manipulating data** held in a relational database management system (RDBMS).
- specifically designed for interacting with databases. It allows you to perform various operations like **querying** data, **inserting** new records, **updating** existing records, and **deleting** records.
## Database Structures
- In SQL, data is stored in tables, which are organized into databases.
- Each table consists of **rows** and **columns**
- `Rows` represent individual record, `Columns` represent attributes or fields of those records

In [ ]:
%pip install ipython-sql

## Load the SQL Extension

In [2]:
%load_ext sql

##Create sqlite database

In [ ]:
%sql sqlite:///sample-database.db

In [ ]:
%%sql
CREATE TABLE IF NOT EXISTS employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50) NOT NULL,
    last_name VARCHAR(50) NOT NULL,
    department VARCHAR(50),
    salary DECIMAL(10, 2) NOT NULL
);

Check the structure of the table

Syntax:
```
%sql PRAGMA table_info('table-name');

In [ ]:
%sql PRAGMA table_info('employees');

### Altering Table

Syntax:
```
%%sql ALTER TABLE table-name
ADD column-name data-type;
```

In [ ]:
%%sql ALTER TABLE employees
ADD performance_rating INT;

In [ ]:
%%sql ALTER TABLE employees
ADD hire_date DATE;

## Inserting Data
Syntax:
```
%%sql
INSERT INTO table-name (column1, column2, ..., columnN) 
VALUES (value1, value2, ..., valueN);
```

In [ ]:
%%sql
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating)
VALUES (1, 'John', 'Doe', 'Sales', 50000.00, '2024-05-30', 3);
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (2, 'Jane', 'Smith', 'Marketing', 55000.00, '2024-04-25', 4);
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (3, 'Michael', 'Johnson', 'Sales', 60000.00, '2024-04-26', 5);
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (4, 'Emily', 'Davis', 'Operations', 62000.00, '2024-04-27', 2);
INSERT INTO employees (employee_id, first_name, last_name, department, salary, hire_date, performance_rating) 
VALUES (5, 'David', 'Wilson', 'Operations', 58000.00, '2024-04-28', 1);

## Selecting Data
Syntax:
```
%sql SELECT * FROM table-name;
```

In [3]:
%sql SELECT * FROM employees

Traceback (most recent call last):
  File "e:\DPH01\venv\Lib\site-packages\sql\magic.py", line 196, in execute
    conn = sql.connection.Connection.set(
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "e:\DPH01\venv\Lib\site-packages\sql\connection.py", line 82, in set
    raise ConnectionError(
sql.connection.ConnectionError: Environment variable $DATABASE_URL not set, and no connect string given.

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

### Select Specific Columns
Syntax:
```
%%sql SELECT column1, column2, ..., columnN 
FROM table-name;
```

In [ ]:
%%sql SELECT first_name, last_name, department
FROM employees;

## Update Data
Syntax:
```
UPDATE table-name 
SET column-name = new-data 
WHERE primary-key = value;
```

In [ ]:
%%sql UPDATE employees
SET salary = 55000.00
WHERE employee_id = 1;

## Deleting Data

Syntax:
```
DELETE FROM table-name
WHERE primary-key = value;
```

In [ ]:
%%sql DELETE FROM employees
WHERE employee_id = 4;

## Deleting Table
Syntax:
```
%sql DROP TABLE table-name;
```

to check if the table is existing:

%sql SELECT name FROM sqlite_master WHERE type='table';